

# misc
/chatgptclone/.DS_Store
/chatgptclone/.env.local
/chatgptclone/.env.development.local
/chatgptclone/.env.test.local
/chatgptclone/.env.production.local
/chatgptclone/.env

/chatgptclone/npm-debug.log*
/chatgptclone/yarn-debug.log*
/chatgptclone/yarn-error.log*

/backend/node_modules
/backend/.env